absl-py==0.13.0
aio-pika==8.2.1
aiofiles==22.1.0
aiohttp==3.7.4
aiormq==6.4.2
aiosignal 
APScheduler==3.7.0
astunparse==1.6.3
async-timeout==3.0.1
asynctest==0.13.0
attrs==21.2.0
bidict==0.22.0
blinker==1.4
boto3==1.24.76
botocore==1.27.76
brotlipy==0.7.0
CacheControl==0.12.11
cachetools
certifi 
cffi 
chardet==3.0.4
charset-normalizer 
click 
cloudpickle==1.6.0
colorama 
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
cryptography 
cycler==0.11.0
dask==2022.2.0
dnspython==1.16.0
docopt==0.6.2
fbmessenger==6.0.0
fire==0.4.0
flatbuffers 
frozenlist 
fsspec==2022.8.2
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib 
google-pasta
greenlet==1.1.3
grpcio 
h5py 
httptools==0.5.0
humanfriendly==10.0
idna 
importlib-metadata 
importlib-resources==5.9.0
jmespath==1.0.1
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==4.4.0
kafka-python==2.0.2
keras==2.7.0
Keras-Preprocessing 
kiwisolver==1.4.4
libclang==14.0.6
locket==1.0.0
Markdown 
matplotlib==3.3.4
mattermostwrapper==2.2
mkl-fft
mkl-random 
mkl-service==2.4.0
msgpack==1.0.4
multidict 
networkx==2.6.3
numpy==1.19.5
oauthlib 
opt-einsum 
packaging==20.9
pamqp==3.2.1
partd==1.3.0
Pillow==9.2.0
prompt-toolkit==3.0.28
protobuf==3.19.5
psycopg2-binary==2.9.3
pyasn1 
pyasn1-modules==0.2.8
pycparser 
pydot==1.4.2
PyJWT
pykwalify==1.8.0
pymongo==3.10.1
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent==0.18.1
PySocks 
pyTelegramBotAPI==4.7.0
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-engineio==4.3.4
python-socketio==5.7.1
pytz==2021.3
PyYAML==6.0
questionary==1.10.0
randomname==0.1.5
rasa==3.2.8
rasa-sdk==3.2.1
redis==3.5.3
regex==2022.4.24
requests 
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rocketchat-API==1.25.0
rsa 
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-learn==0.24.2
scipy 
sentry-sdk==1.3.1
six 
sklearn-crfsuite==0.3.6
slackclient==2.9.4
SQLAlchemy==1.4.41
tabulate==0.8.10
tarsafe==0.0.3
tensorboard 
tensorboard-data-server
tensorboard-plugin-wit 
tensorflow==2.7.4
tensorflow-addons==0.15.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
terminaltables==3.1.10
threadpoolctl==3.1.0
toolz==0.12.0
tqdm==4.64.1
twilio==6.50.1
typeguard==2.13.3
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzlocal==2.1
ujson
urllib3 
wcwidth==0.2.5
webexteamssdk==1.6.1
websockets==10.3
Werkzeug 
win-inet-pton 
wincertstore==0.2
wrapt 
yarl 
zipp 
